html {

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    background-image: url('src/assets/bg.jpg'); /* Corrected line */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }